*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  &:hover{
    text-decoration:none;
  }
}
body{
  background:#eee;
  font-family: 'Work Sans', sans-serif;
  text-transform:uppercase;
  font-weight:600;
}
section{
  display:none;
  width:100%;
}
a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}
.container{
  width:85%;
  margin:0 auto;
}
.active{
  display:inline-block;
  transition:.2s all;
}
.toggle{
  display:none;
  transition:.2s all;
}
.show{
  display:inline-block;
  transition:.2s all;
}
