.albums{
  width:100%;
}
.albumCover{
  display: inline-block;
  position: relative;
  text-decoration:none;
  color:black;
  transition: all .2s ease;
  overflow:hidden;
  background-color:rgba(238, 238, 238, 0.7);
  padding-top:10px;
  padding-right:10px;
  padding-left:10px;
  margin-bottom:10px;
  &:hover{
    transform: translate3d(0px, -2%, 3em) scale(.95);
  }
  h2{
    padding: 30%;
    text-align:center;
    background-color:rgba(238, 238, 238, 0.7);
    transition:.2s all;
    margin-top:0;
    margin-bottom:0;
    font-weight:600;
    font-size:2.5rem;
    &:hover{
      color:rgba(0,0,0,0);
      background-color:rgba(238, 238, 238, 0.1);
    }
  }
  img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1000;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
  }
}
.hero{
  h1{
    background-color:#333;
    padding:50px;
    text-align:center;
    margin:10px 0;
    color:white;
    font-weight:700;
    font-weight:3rem;
  }
}
