.photo{
  width: 100%;
  overflow: hidden;
  position:relative;
}
.photoThumb img {
    width: 49.7%;
}
.photoBack {
    padding: 20px;
    font-weight: 600;
    background: #020202;
    color: #eee;
    text-decoration: none;
    transition:.2s all;
    &:hover{
      background: #eee;
      color:#020202;
      cursor:pointer;
    }
  }
  .photoLightBox{
    img {
      width: 100%;
    }
  }
