.albums {
  width: 100%; }

.albumCover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
  transition: all .2s ease;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.7);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px; }
  .albumCover:hover {
    transform: translate3d(0px, -2%, 3em) scale(0.95); }
  .albumCover h2 {
    padding: 30%;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.7);
    transition: .2s all;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2.5rem; }
    .albumCover h2:hover {
      color: transparent;
      background-color: rgba(238, 238, 238, 0.1); }
  .albumCover img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1000;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px; }

.hero h1 {
  background-color: #333;
  padding: 50px;
  text-align: center;
  margin: 10px 0;
  color: white;
  font-weight: 700;
  font-weight: 3rem; }

.photo {
  width: 100%;
  overflow: hidden;
  position: relative; }

.photoThumb img {
  width: 49.7%; }

.photoBack {
  padding: 20px;
  font-weight: 600;
  background: #020202;
  color: #eee;
  text-decoration: none;
  transition: .2s all; }
  .photoBack:hover {
    background: #eee;
    color: #020202;
    cursor: pointer; }

.photoLightBox img {
  width: 100%; }

.photoThumb {
  width: 49%; }

.album h1 {
  padding: 50px 0; }

.photoBox {
  display: inline-block;
  overflow: hidden;
  padding: 0px 5px;
  transition: .2s all;
  margin-bottom: 10px; }
  .photoBox:hover {
    transform: scale(0.95);
    opacity: .5;
    cursor: pointer; }
  .photoBox img {
    width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *:hover {
    text-decoration: none; }

body {
  background: #eee;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600; }

section {
  display: none;
  width: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.container {
  width: 85%;
  margin: 0 auto; }

.active {
  display: inline-block;
  transition: .2s all; }

.toggle {
  display: none;
  transition: .2s all; }

.show {
  display: inline-block;
  transition: .2s all; }

nav {
  margin: 0 auto;
  padding: 5% 0;
  text-align: center; }
  nav li {
    display: inline; }
  nav a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    margin-right: 35px; }
    nav a:hover {
      color: black; }

.activeTab {
  color: black; }
